.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #0f172a; // dark navy
  color: white;
  position: relative;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.navList {
  display: flex;
  gap: 2rem;
  list-style: none;

  li {
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: #38bdf8; // light blue
    }
  }
}

/* Burger button */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;

  span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 2px;
  }
}


// mobile view :) 
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .navList {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #0f172a;
    flex-direction: column;
    width: 200px;
    padding: 1rem;
    gap: 1rem;

    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}
